/* Transparent
/* 
/*.navbar-default {
  background: none;
  border: none;
}*/

@media (min-width: 768px) {

  body{
    font-size: medium;
  }
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
    padding-right: 10px;
  }

  #profile {
    width: 160px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    float: left;
    margin-right: 25px;
  }

  .topnavbar{
    border-radius: 0px;
    font-size: large;
  }

  .footer{
    text-align: center;
    border-radius: 0px;
    padding-bottom: 0px;
  }

  .footer p{
    color: gray;
  }

  .footer-icon{
    font-size:30px !important;
    color: white;
    padding-top: 7px;
  }

  #intro{
    font-size:  20px;
  }

  .entry{
    padding-bottom: 50px;
  }

  .slides{
    margin-bottom: 100px;
  }

  .title{
    padding-top: 60px;
  }

  .projectTitle{
    padding-bottom: 50px;
  }

  .show_abs{
    color: green;
  }

  .slide_item{
    width: auto;
    height: 300px;
  }

  .slide_image{
    margin-left: auto;
    margin-right: auto;
  }

  .tabs{
    padding-bottom: 50px;
  }

  /* .education{
    padding-top: 50px;
    padding-bottom: auto;
  } */

  section{
    padding-top: 0px;
    padding-bottom: 75px;
  }
}